/*颜色是最基本的风格属性之一，还有尺寸、动效*/

/*首先设计一个主题色*/
.theme{background-color: #5195e4}

/*接着设计一些语义颜色*/
.success{background-color: #32b40a}
.info{background-color: #5bc0de}
.warning{background-color: #f68409}
.error{background-color: #ca2e2e}

/*然后是一些语义的灰度色*/


/*常用的灰度色彩，这样可以应对各种设计师。*/
.c000{background-color: #000;}
.c111{background-color: #111;}
.c222{background-color: #222;}
.c333{background-color: #333;}
.c444{background-color: #444;}
.c555{background-color: #555;}
.c666{background-color: #666;}
.c777{background-color: #777;}
.c888{background-color: #888;}
.c999{background-color: #999;}
.caaa{background-color: #aaa;}
.cbbb{background-color: #bbb;}
.cccc{background-color: #ccc;}
.cddd{background-color: #ddd;}
.ceee{background-color: #eee;}
.cddd{background-color: #ddd;}
.cfff{background-color: #fff;}
